@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.rdrDayDisabled span {
  text-decoration: line-through !important;
}

.rdrStartEdge {
}

.rdrDayHovered {
  /* color: ; */
}

/* .rdrInRange {
  background: #f7f7f7 !important;
}

.rdrInRange + .rdrDayNumber span {
  color: black !important;
}

.rdrDay .rdrDayNumber span {
  color: black !important;
}

.rdrDay .rdrStartEdge + .rdrDayNumber span {
  appearance: initial;
  color: #fff !important;
} */

/* rdrDayDisabled, rdrStartEdge, rdrEndEdge, rdrInRange, rdrDayHovered */
